@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../assets/wallpaper.jpg'); /* Adicionando a imagem de fundo */
    background-size: cover; /* Para cobrir toda a área */
    background-repeat: no-repeat; /* Evita repetir a imagem */
    font-family: 'Roboto', sans-serif; /* Fonte atualizada */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}




.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
}

.form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.form-wrapper h2 {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
    width: 320px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: transform .5s;
    font-size: 16px;
    color: #ffffff;
    padding: 0 5px;
    pointer-events: none;
}

.input-group input {
    width: 100%;
    height: 40px;
    color: #333;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    background: transparent;
}

.input-group input:focus~label,
.input-group input:valid~label {
    transform: translateY(-175%);
    font-size: 12px;
    color: #ffffff;
}

.esquecer {
    margin: -5px 0 15px 5px;
}

.esquecer label {
    color: #ffffff;
    font-size: 16px;
}

.esquecer label input {
    accent-color: #72ea9a;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

button {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    background: #f5a637;
    font-size: 16px;
    color: #ffffff; /* Updated text color */
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
}

.login-link {
    color: #ffffff;
    font-size: 15px;
    margin: 15px 0 25px;
    text-align: center;
    cursor: pointer;
}

.login-link p a {
    color: #f8c313;
    text-decoration: none;
    font-weight: 500;
}

.login-link p {
    color: #ffffff;
}

.login-link p a:hover {
    text-decoration: underline;
}