body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.background {
    width: 2544px;
    height: 1464px;
    background: #292626;
}

.box {
    width: 335px;
    height: 971px;
    background: #1F2125;
    border-radius: 41px;
}

.box:nth-child(4) {
    width: 336px;
}

.title {
    color: #72EA9A;
    font-size: 96px;
    font-weight: 400;
    word-wrap: break-word;
}

.footer {
    width: 2544px;
    height: 333px;
    background: #1F2125;
}

.day {
    color: white;
    font-size: 40px;
    font-weight: 400;
    word-wrap: break-word;
}

.day-name {
    color: #72EA9A;
}

.day-activity {
    color: white;
}
